{{define "formFields"}}

{{range $fieldIndex,$field := .formFields}}
{{if ne $field.Type "hidden"}}

{{if eq $field.Type "message"}}
<blockquote  {{if $field.Expand.if}}v-if="{{$field.Expand.if}}"{{end}} class="layui-elem-quote" style="border: 1px solid #f1ecdc;border-radius:5px;background-color:#fefbed;">{{$field.Notice}}</blockquote>
{{else if eq $field.Type "block"}}
<fieldset  {{if $field.Expand.if}}v-if="{{$field.Expand.if}}"{{end}} class="layui-elem-field layui-field-title">
    <legend>{{$field.Title}}</legend>
</fieldset>
{{/* codeEditor代码编辑器 */}}
{{else if eq $field.Type "codeEditor"}}
{{template "codeEditor" $field}}
{{else if eq $field.Type "code"}}
{{template "codeEditor" $field}}
{{else}}
<div {{if $field.Expand.if}}v-show="{{$field.Expand.if}}"{{end}} class="layui-form-item form-group">
    <label class="layui-form-label">{{if $field.IsMust}}<span style="color:red">*</span>{{end}}{{$field.Title}}</label>
    <div class="layui-input-block">
        {{/* 提示框 */}}
        {{- if eq $field.Type "notice"}}
        <blockquote class="layui-elem-quote">{{$field.Notice}}</blockquote>
        {{- end -}}

        {{/* 隐藏域 */}}
        {{- if eq $field.Type "hidden"}}
        <input type="hidden" v-model="formFields.{{$field.Key}}" autocomplete="off" class="layui-input">
        {{- end -}}
        {{/* 输入文本 */}}
        {{- if eq $field.Type "text"}}
        <input @keyup.enter="formSubmit" type="text" v-model="formFields.{{$field.Key}}" placeholder="{{$field.Notice}}"
            autocomplete="off" class="layui-input">
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "text-sm"}}
        <div class="layui-col-sm6">
            <input @keyup.enter="formSubmit" type="text" v-model="formFields.{{$field.Key}}" placeholder="{{$field.Notice}}"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-sm6" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "text-xs"}}
        <div class="layui-col-sm3">
            <input @keyup.enter="formSubmit" type="text" v-model="formFields.{{$field.Key}}"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-sm9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "text-xxs"}}
        <div class="layui-col-sm2 layui-col-xs3">
            <input @keyup.enter="formSubmit" type="text" v-model="formFields.{{$field.Key}}"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-sm10 layui-col-xs9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "text-disabled"}}
        <input @keyup.enter="formSubmit" type="text" v-model="formFields.{{$field.Key}}" placeholder="{{$field.Notice}}"
               autocomplete="off" class="layui-input" disabled="disabled">
        {{- end -}}
        {{- if eq $field.Type "text-disabled-sm"}}
        <div class="layui-col-sm6">
            <input @keyup.enter="formSubmit" type="text" v-model="formFields.{{$field.Key}}" placeholder="{{$field.Notice}}"
                   autocomplete="off" class="layui-input" disabled="disabled">
        </div>
        <div class="layui-col-sm6" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "text-disabled-xs"}}
        <div class="layui-col-sm3">
            <input @keyup.enter="formSubmit" type="text" v-model="formFields.{{$field.Key}}"
                   autocomplete="off" class="layui-input" disabled="disabled">
        </div>
        <div class="layui-col-sm9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "text-disabled-xxs"}}
        <div class="layui-col-sm2 layui-col-xs3">
            <input @keyup.enter="formSubmit" type="text" v-model="formFields.{{$field.Key}}"
                   autocomplete="off" class="layui-input" disabled="disabled">
        </div>
        <div class="layui-col-sm10 layui-col-xs9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 数字 */}}
        {{- if eq $field.Type "number"}}
        <input @keyup.enter="formSubmit" type="number" v-model="formFields.{{$field.Key}}"
            placeholder="{{$field.Notice}}" autocomplete="off" class="layui-input">
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "number-sm"}}
        <div class="layui-col-sm6">
            <input @keyup.enter="formSubmit" type="number" v-model="formFields.{{$field.Key}}" placeholder="{{$field.Notice}}"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-sm6" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "number-xs"}}
        <div class="layui-col-sm3">
            <input @keyup.enter="formSubmit" type="number" v-model="formFields.{{$field.Key}}"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-sm9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "number-xxs"}}
        <div class="layui-col-sm2 layui-col-xs3">
            <input @keyup.enter="formSubmit" type="number" v-model="formFields.{{$field.Key}}"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-sm10 layui-col-xs9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{/* 密码 */}}
        {{- if eq $field.Type "password"}}
        <div class="layui-col-sm3">
            <input @keyup.enter="formSubmit" type="password" v-model="formFields.{{$field.Key}}"
                placeholder="请输入密码..." autocomplete="off" class="layui-input" >
        </div>
        <div class="layui-col-sm9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 文本域 */}}
        {{- if eq $field.Type "textarea"}}
        <textarea v-model="formFields.{{$field.Key}}" placeholder="{{$field.Notice}}" class="layui-textarea"></textarea>
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "textarea-disabled"}}
        <textarea v-model="formFields.{{$field.Key}}" placeholder="{{$field.Notice}}" class="layui-textarea" disabled="disabled"></textarea>
        {{- end -}}

        {{/* 下拉选择 */}}
        {{- if eq $field.Type "select"}}
        <select v-model="formFields.{{$field.Key}}" lay-verify="required" class="layui-select" style="color: #777777;{{$field.Style}}">
            <option value="">请选择</option>
            <option v-for="(opt,optIndex) in formFields._{{$field.Key}}_options" :value="opt.value" v-html="opt.name"></option>
        </select>
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "select-sm"}}
        <div class="layui-col-sm6">
            <select v-model="formFields.{{$field.Key}}" lay-verify="required" class="layui-select" style="color: #777777;{{$field.Style}}">
                <option value="">请选择</option>
                <option v-for="(opt,optIndex) in formFields._{{$field.Key}}_options" :value="opt.value" v-html="opt.name"></option>
            </select>
        </div>
        <div class="layui-col-sm6" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "select-xs"}}
        <div class="layui-col-sm3">
            <select v-model="formFields.{{$field.Key}}" lay-verify="required" class="layui-select" style="color: #777777;{{$field.Style}}">
                <option value="">请选择</option>
                <option v-for="(opt,optIndex) in formFields._{{$field.Key}}_options" :value="opt.value" v-html="opt.name"></option>
            </select>
        </div>
        <div class="layui-col-sm9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "select-xxs"}}
        <div class="layui-col-sm2">
            <select v-model="formFields.{{$field.Key}}" lay-verify="required" class="layui-select" style="color: #777777;{{$field.Style}}">
                <option value="">请选择</option>
                <option v-for="(opt,optIndex) in formFields._{{$field.Key}}_options" :value="opt.value" v-html="opt.name"></option>
            </select>
        </div>
        <div class="layui-col-sm10" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "select-disabled"}}
        <select v-model="formFields.{{$field.Key}}" lay-verify="required" class="layui-select" style="color: #777777;background-color:#e7e4ea;{{$field.Style}}" disabled="disabled">
            <option value="">请选择</option>
            {{range $k,$v := $field.Data}}
            <option value="{{$v.value}}">{{$v.name}}</option>
            {{- end -}}
        </select>
        {{- end -}}
        {{- if eq $field.Type "select-disabled-sm"}}
        <div class="layui-col-sm6">
            <select v-model="formFields.{{$field.Key}}" lay-verify="required" class="layui-select" style="color: #777777;background-color:#e7e4ea;{{$field.Style}}" disabled="disabled">
                <option value="">请选择</option>
                {{range $k,$v := $field.Data}}
                <option value="{{$v.value}}">{{$v.name}}</option>
                {{- end -}}
            </select>
        </div>
        <div class="layui-col-sm6" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "select-disabled-xs"}}
        <div class="layui-col-sm3">
            <select v-model="formFields.{{$field.Key}}" lay-verify="required" class="layui-select" style="color: #777777;background-color:#e7e4ea;{{$field.Style}}" disabled="disabled">
                <option value="">请选择</option>
                {{range $k,$v := $field.Data}}
                <option value="{{$v.value}}">{{$v.name}}</option>
                {{- end -}}
            </select>
        </div>
        <div class="layui-col-sm9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "select-disabled-xxs"}}
        <div class="layui-col-sm2">
            <select v-model="formFields.{{$field.Key}}" lay-verify="required" class="layui-select" style="color: #777777;background-color:#e7e4ea;{{$field.Style}}" disabled="disabled">
                <option value="">请选择</option>
                {{range $k,$v := $field.Data}}
                <option value="{{$v.value}}">{{$v.name}}</option>
                {{- end -}}
            </select>
        </div>
        <div class="layui-col-sm10" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 图标选择器 */}}
        {{- if eq $field.Type "icon"}}
        <div class="layui-col-xs5 layui-col-sm5" style="margin-bottom: 5px">
            <input @keyup.enter="formSubmit" type="text" v-model="formFields.{{$field.Key}}" placeholder="{{$field.Notice}}"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-xs1 layui-col-sm1" style="width:50px;text-align:center;line-height:36px">
            <i class="" :class="formFields.{{$field.Key}}" style="min-width: 20px;display:block;"></i>
        </div>
        <div class="layui-col-xs5 layui-col-sm5" style="line-height:36px;margin-left: 3px">
            <button type="button" class="layui-btn layui-btn-normal" @click="iconSelect('{{$field.Key}}')">选择图标</button>
            <button type="button" class="layui-btn layui-btn-warm" @click="formFields.{{$field.Key}}=''">清除</button>
        </div>
        <div class="layui-col-xs12" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 模拟单选框 */}}
        {{- if eq $field.Type "radio"}}
        <a class="layui-btn" v-for="(opt,optIndex) in formFields._{{$field.Key}}_options"
           :class="formFields.{{$field.Key}}==opt.value?'layui-btn-primary layui-btn-check':'layui-btn-primary'"
            @click="formFields.{{$field.Key}}=opt.value"
           v-html="(formFields.{{$field.Key}}==opt.value?'<i class=\'radio-item ri-checkbox-circle-line\'></i>':'<i class=\'radio-item ri-checkbox-blank-circle-line\'></i>')+opt.name">
        </a>
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 图片预览 */}}
        {{- if eq $field.Type "imageview"}}
        <div class="layui-col-sm3">
            <div v-if="formFields.{{$field.Key}}==''" class="upload_image_btn" style="color: #00a0e9">
                <i class="layui-icon layui-icon-picture" style="font-size:32px"></i>
            </div>
            <div v-else class="upload_image_view">
                <img :src="formFields.{{$field.Key}}" />
            </div>
        </div>
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 图片上传 */}}
        {{- if eq $field.Type "image"}}
        <div class="layui-col-md12">
            <div style="position: relative;display: inline-block">
                <div v-if="formFields.{{$field.Key}}==''" class="upload_image_btn" style="color: #00a0e9">
                    <i class="ri-image-add-fill" style="font-size:32px!important"></i>
                    <label><input type="file" accept="image/x-png,image/gif,image/jpeg,image/bmp"
                                  @change="uploadImageFile($event,'{{$field.Key}}')" /></label>
                </div>
                <div v-else class="upload_image_view">
                    <img :src="formFields.{{$field.Key}}" />
                </div>
                <a v-if="formFields.{{$field.Key}}!=''" title="清除图片" class="image_remove_btn ri-close-line" @click="formFields.{{$field.Key}}=''"></a>
            </div>
            <div style="line-height: 36px;text-align: left;color:#d5b176;display: inline-block;margin-left: 10px">
                <span>{{$field.Notice}}</span>
            </div>
        </div>

        {{- end -}}

        {{/* 多图片上传 */}}
        {{- if eq $field.Type "images"}}
        <div class="image-list">
            <div v-for="(item,index) in formFields.{{$field.Key}}" class="upload_image_view">
                <img :src="item" />
                <a title="删除" style="cursor: pointer;background:#ffffff;border: 1px solid #222222;color:#222222;padding:1px;border-radius: 50px" class="ri-close-line" @click="formFields.{{$field.Key}}.splice(index,1)"></a>
            </div>
            <div class="upload_image_btn" style="color: #00a0e9">
                <i class="ri-image-add-fill" style="font-size:32px!important"></i>
                <label><input type="file" accept="image/x-png,image/gif,image/jpeg,image/bmp"
                              @change="uploadImages($event,'{{$field.Key}}')" /></label>
            </div>
        </div>
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 文件上传 */}}
        {{- if eq $field.Type "file"}}
        <div class="layui-col-sm2">
            <div v-if="formFields.{{$field.Key}}==''" class="upload_image_btn" style="color: #fc8a43">
                <i class="ri-file-upload-line" style="font-size:32px!important"></i>
                <label><input type="file" @change="uploadFile($event,'{{$field.Key}}')" /></label>
            </div>
            <div v-else class="upload_image_view">
                <img :src="'/static/images/exts/'+file_ext_image(formFields.{{$field.Key}})+'.png'" style="width:40px" />
            </div>
        </div>
        <div class="layui-col-sm2">
            <a v-if="formFields.{{$field.Key}}!=''" title="删除" style="cursor: pointer;background:#ffffff;border: 1px solid #222222;color:#222222;padding:1px;border-radius: 50px" class="ri-close-line" @click="formFields.{{$field.Key}}=''"></a>
        </div>
        <div class="layui-col-sm8" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 视频上传 */}}
        {{- if eq $field.Type "video"}}
        <div class="layui-col-sm6">
            <div v-if="formFields.{{$field.Key}}==''" class="upload_image_btn" style="color: #fc8a43">
                <i class="ri-video-upload-line" style="font-size:32px!important"></i>
                <label><input type="file" accept="video/mp4,video/avi,video/mov,video/rmvb,video/3gp" @change="uploadFile($event,'{{$field.Key}}')" /></label>
            </div>
            <div v-else class="upload_image_view">
                <video width="320" controls>
                    <source :src="formFields.{{$field.Key}}" :type="'video/'+file_ext(formFields.{{$field.Key}})">
                    您的浏览器不支持 HTML5 video 标签。
                </video>
            </div>
        </div>
        <div class="layui-col-sm2">
            <a v-if="formFields.{{$field.Key}}!=''" title="删除" style="cursor: pointer;background:#ffffff;border: 1px solid #222222;color:#222222;padding:1px;border-radius: 50px" class="ri-close-line" @click="formFields.{{$field.Key}}=''"></a>
        </div>
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 音频上传 */}}
        {{- if eq $field.Type "audio"}}
        <div class="layui-col-sm6">
            <div v-if="formFields.{{$field.Key}}==''" class="upload_image_btn" style="color: #fc8a43">
                <i class="ri-music-2-fill" style="font-size:32px!important"></i>
                <i class="ri-add-circle-line" style="font-size: 15px !important; margin-left: -15px;color:#ffffff;background:#fc8a43;border-radius:50%"></i>
                <label><input type="file" accept="audio/*" @change="uploadFile($event,'{{$field.Key}}')" /></label>
            </div>
            <div v-else class="upload_image_view">
                <audio controls>
                    <source v-if="file_ext(formFields.{{$field.Key}})=='wav'" :src="formFields.{{$field.Key}}" type="audio/wav">
                    <source v-else :src="formFields.{{$field.Key}}" type="audio/mpeg">
                    您的浏览器不支持 audio 元素。
                </audio>
            </div>
        </div>
        <div class="layui-col-sm2">
            <a v-if="formFields.{{$field.Key}}!=''" title="删除" style="cursor: pointer;background:#ffffff;border: 1px solid #222222;color:#222222;padding:1px;border-radius: 50px" class="ri-close-line" @click="formFields.{{$field.Key}}=''"></a>
        </div>
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 百度取经纬度 */}}
        {{- if eq $field.Type "lnglat"}}
        <div class="bd_map" style="width:100%;height:400px;position: relative;">
            <div id="bd_map_{{$field.Key}}" style="width:100%;height:100%"></div>
            <i class="map_center ri-map-pin-2-fill"></i>
        </div>
        {{- end -}}

        {{/* 标签框 */}}
        {{- if eq $field.Type "tags"}}
        <vue-tags-input
                :tags="formFields.{{$field.Key}}"
                v-model="formFields._{{$field.Key}}_input"
                :autocomplete-items="formFields._{{$field.Key}}_options"
                @tags-changed="newTags => formFields.{{$field.Key}} = newTags"
        />
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 多选框 */}}
        {{- if eq $field.Type "checkbox"}}
        <div>
            {{range $k,$v := $field.Data}}
            <label class="checkbox-label">
                <input class="layui-form-checkbox" type="checkbox" name="{{$field.Key}}" v-model="formFields.{{$field.Key}}"
                       value="{{$v.value}}" /> {{$v.name}}
            </label>
            {{- end -}}
        </div>
        <div style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 多级多选框 */}}
        {{- if eq $field.Type "checkbox_level"}}
        {{template "checkbox_level" $field}}
        {{- end -}}

        {{/* 颜色选择器 */}}
        {{- if eq $field.Type "color"}}
        <div class="layui-col-sm3" style="max-width:200px;padding-right: 10px">
            <input @keyup.enter="formSubmit" type="text" v-model="formFields.{{$field.Key}}" placeholder="请选择颜色..."
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-sm1" style="line-height:28px">
            <div class="color_picker_{{$field.Key}}"></div>
        </div>
        <div class="layui-col-sm8" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 富文本编辑 */}}
        {{- if eq $field.Type "wangEditor"}}
        <div style="border: 1px solid #ccc;">
            <div id="Toolbar_{{$field.Key}}" style="border-bottom: 1px solid #ccc;"></div>
            <div id="wangEditor_{{$field.Key}}" style="height: 500px"></div>
        </div>
        {{- end -}}

        {{/* 日期时间组件 */}}
        {{- if eq $field.Type "datetime"}}
        <div class="layui-col-sm3">
            <input type="text" class="layui-input" id="datetime_{{$field.Key}}" style="{{$field.Style}}">
        </div>
        <div class="layui-col-sm9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "date"}}
        <div class="layui-col-sm3">
            <input type="text" class="layui-input" id="date_{{$field.Key}}" style="{{$field.Style}}">
        </div>
        <div class="layui-col-sm9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}
        {{- if eq $field.Type "time"}}
        <div class="layui-col-sm3">
            <input type="text" class="layui-input" id="time_{{$field.Key}}" style="{{$field.Style}}">
        </div>
        <div class="layui-col-sm9" style="line-height: 36px;text-align: left;color:#d5b176">
            <span>{{$field.Notice}}</span>
        </div>
        {{- end -}}

        {{/* 商品规格spec */}}
        {{- if eq $field.Type "spec"}}
        {{template "spec" $field}}
        {{- end -}}

        {{/* 商品SKU */}}
        {{- if eq $field.Type "sku"}}
        {{template "sku" $field}}
        {{- end -}}



    </div>
</div>
{{- end -}}
{{- end -}}
{{- end -}}

{{end}}