<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/qadmin/css/style.css?v=12">
    <script src="/static/layui/layui.all.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <style>
        .ri-checkbox-line:before{color:#05b96b}
        .batchActionButtons{
            position: fixed;
            top: 0px;
            left: 5px;
            background: #fcead2;
            padding: 10px 20px;
            border-radius: 0 0 8px 8px;
            border: 1px solid #f1f1f1;
        }
        .column_check{width:18px;}
        {{.pageStyle}}
    </style>
</head>

<body>
<div class="p20" id="app" v-cloak>
    {{if .pageNotice}}<blockquote class="layui-elem-quote">{{.pageNotice}}</blockquote>{{end}}
    <div class="layui-row" style="border-bottom: 1px dashed #e1e1e1">
        <div class="layui-col-md4 layui-col-xs4">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>{{.title}}</legend>
            </fieldset>
        </div>
        <div class="layui-col-md8 layui-col-xs8" style="text-align: right;padding: 5px 0 10px;">

            {{range $index,$button := .topBtns}}
            {{ if $button}}
            <a {{if $button.Display}}v-if="{{$button.Display}}"{{end}}
               {{if eq $button.ActionType 0}}
               href="{{$button.ActionUrl}}"
               {{end}}
               {{if eq $button.ActionType 1}}
               {{if $button.ConfirmMsg}} @click="confirm(0,'{{$button.ActionUrl}}','{{$button.ConfirmMsg}}')" {{else}} @click="ajax(0,'{{$button.ActionUrl}}')" {{end}}
               {{end}}
               {{if eq $button.ActionType 2}}
               @click="layer(0,'{{$button.ActionUrl}}','{{$button.ButtonName}}','{{$button.LayerTitle}}','{{$button.Expand.w}}','{{$button.Expand.h}}')"
               {{end}}
               {{if eq $button.ActionType 3}}
               onclick="{{$button.ActionUrl}}"
               {{end}}

               class="layui-btn list_top_btn {{$button.Class}}"
            >{{template "icon" $button.Icon}}
                <span class="">{{$button.ButtonName}}</span></a>
            {{end}}
            {{end}}
            {{if .listSearchFields}}
            <a onclick="searchFormShow()" class="layui-btn rose list_top_btn top_btn_search">{{template "icon" "ri-search-line"}}
                <span class="">搜索</span></a>
            {{- end -}}
            <a href="javascript:location.reload();" class="layui-btn list_top_btn">{{template "icon" "ri-refresh-line"}}
                <span class="">刷新</span></a>

        </div>
    </div>
    {{if gt .pageTabsLength 0}}
    <div class="layui-tab">
        <div class="layui-tab-title">
            {{$select := .pageTabSelect}}
            {{range $tabIndex,$tabInfo := .pageTabs}}
            <li {{if eq $tabIndex $select}}class="layui-this"{{end}}><a href="{{$tabInfo.Href}}">{{$tabInfo.Title}}</a></li>
            {{end}}
        </div>
    </div>
    {{end}}
    {{if .listSearchFields}}
    <div class="layui-row list_search" style="padding:15px 0 10px;">
        <div class="layui-col-lg12">
            <div class="layui-inline">
                {{range $fieldIndex,$field:=.listSearchFields}}
                <label class="search_inline_label">{{$field.Title}}</label>

                {{if eq $field.Type "text"}}
                <div class="layui-input-inline" style="margin-bottom: 5px;">
                    <input type="text" v-model="searchForm.{{$field.Key}}" placeholder="{{$field.Expand.placeholder}}"
                           @keyup.enter="search(1)"
                           class="layui-input key" style="width: 180px;{{$field.Style}}">
                </div>
                {{end}}
                {{if eq $field.Type "text-sm"}}
                <div class="layui-input-inline" style="margin-bottom: 5px;">
                    <input type="text" v-model="searchForm.{{$field.Key}}" placeholder="{{$field.Expand.placeholder}}"
                           @keyup.enter="search(1)"
                           class="layui-input key" style="width: 80px;{{$field.Style}}">
                </div>
                {{end}}
                {{if eq $field.Type "number"}}
                <div class="layui-input-inline" style="margin-bottom: 5px;">
                    <input type="number" v-model="searchForm.{{$field.Key}}" placeholder="{{$field.Expand.placeholder}}"
                           @keyup.enter="search(1)"
                           class="layui-input key" style="width: 180px;{{$field.Style}}">
                </div>
                {{end}}
                {{if eq $field.Type "number-sm"}}
                <div class="layui-input-inline" style="margin-bottom: 5px;">
                    <input type="number" v-model="searchForm.{{$field.Key}}" placeholder="{{$field.Expand.placeholder}}"
                           @keyup.enter="search(1)"
                           class="layui-input key" style="width: 80px;{{$field.Style}}">
                </div>
                {{end}}
                {{if eq $field.Type "select"}}
                <div class="layui-input-inline" style="margin-bottom: 5px;">
                    <select v-model="searchForm.{{$field.Key}}" class="layui-select"
                            style="color: #777777;min-width: 120px;{{$field.Style}}">
                        <option value="{{$field.DefValue}}">{{$field.Expand.placeholder}}</option>
                        {{range $k,$v := $field.Data}}
                        <option value="{{$k}}">{{$v}}</option>
                        {{end}}
                    </select>
                </div>
                {{end}}
                {{if eq $field.Type "datetime"}}
                <div class="layui-input-inline" style="margin-bottom: 5px;">
                    <input type="text" class="layui-input" v-model="searchForm.{{$field.Key}}" id="time_{{$field.Key}}"
                           placeholder="{{$field.Expand.placeholder}}" style="display:inline-block;width: 150px;{{$field.Style}}">
                </div>
                {{end}}

                {{end}}
                <button type="button" class="layui-btn rose sou" @click="search(1)" style="margin-bottom: 5px">查询</button>
            </div>
        </div>
    </div>
    {{end}}

    <div class="list_table" style="width:100%;overflow-x: auto;">
        <table class="layui-table layui-form">
            <thead>
            <tr>
                <th v-if="batchAction" class="column column_check"><i v-if="isAllChecked" class="ri-checkbox-line" @click="checkAll(false)"></i><i v-else class="ri-checkbox-blank-line" @click="checkAll(true)"></i></th>
                {{range .listColumns}}<th class="column column_{{.FieldName}} title" {{if $style := index $.listColumnsStyles .FieldName}} style="{{$style}}" {{end}}>{{.ColumnName}}</th>{{end}}
                {{if .rightBtns}}
                <th class="column column_action title " {{if $style := index $.listColumnsStyles "action"}} style="{{$style}}" {{end}}>操作</th>
                {{end}}
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in data_list" :key="item.id">
                <td v-if="batchAction" class="column column_check"><i v-if="item._checked" class="ri-checkbox-line" @click="item._checked = false;"></i><i v-else class="ri-checkbox-blank-line" @click="item._checked = true;"></i></td>
                {{range $columnIndex,$column :=.listColumns}}
                <td class="column column_{{.FieldName}}" {{if $style := index $.listColumnsStyles .FieldName}} style="{{$style}}" {{end}} >
                    {{ template "listColumn" $column}}
                </td>
                {{end}}
                {{if .rightBtns}}
                <td class="column column_action" {{if $style := index $.listColumnsStyles "action"}} style="{{$style}}" {{end}}>
                {{range $index,$button := .rightBtns}}
                {{ if $button}}
                <a {{if $button.Display}}v-if="{{$button.Display}}"{{end}}
                   {{if eq $button.ActionType 1}}
                   {{if $button.ConfirmMsg}}
                   @click="confirm(item.id,'{{$button.ActionUrl}}','{{$button.ConfirmMsg}}')"
                   {{else}}
                   @click="ajax(item.id,'{{$button.ActionUrl}}')"
                   {{end}}
                   {{end}}
                   {{if eq $button.ActionType 2}}
                   @click="layer(item.id,'{{$button.ActionUrl}}','{{$button.ButtonName}}','{{$button.LayerTitle}}','{{$button.Expand.w}}','{{$button.Expand.h}}')"
                   {{end}}
                   {{if eq $button.ActionType 3}}
                   onclick="{{$button.ActionUrl}}"
                   {{end}}
                   class="layui-btn layui-btn-sm {{$button.Class}}"
                >{{template "icon" $button.Icon}}
                    {{$button.ButtonName}}</a>
                {{end}}

                {{end}}
                </td>
                {{end}}
            </tr>
            </tbody>
        </table>
    </div>
    <div class="list_table_mobile" style="width:100%;overflow-x: auto;">
        <table class="layui-table layui-form">
            <thead>
            <tr>
                <td v-if="batchAction" class="column column_check"><i v-if="isAllChecked" class="ri-checkbox-line" @click="checkAll(false)"></i><i v-else class="ri-checkbox-blank-line" @click="checkAll(true)"></i></td>
                <td class="column" style="white-space: normal">
                    {{range .listColumns}}<span class="mobile_title_item">{{.ColumnName}}</span>{{end}}
                </td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item,index) in data_list" :key="item.id">
                <td v-if="batchAction" class="column column_check"><i v-if="item._checked" class="ri-checkbox-line" @click="item._checked = false;"></i><i v-else class="ri-checkbox-blank-line" @click="item._checked = true;"></i></td>
                <td class="column">
                    {{range $columnIndex,$column :=.listColumns}}
                    <div class="mobile_list_item">
                        {{ template "listColumn" $column}}
                    </div>
                    {{end}}
                    <div class="mobile_list_button">
                        {{range $index,$button := .rightBtns}}
                        {{ if $button}}
                        <a {{if $button.Display}}v-if="{{$button.Display}}"{{end}}
                           {{if eq $button.ActionType 1}}
                           {{if $button.ConfirmMsg}}
                           @click="confirm(item.id,'{{$button.ActionUrl}}','{{$button.ConfirmMsg}}')"
                           {{else}}
                           @click="ajax(item.id,'{{$button.ActionUrl}}')"
                           {{end}}
                           {{end}}
                           {{if eq $button.ActionType 2}}
                           @click="layer(item.id,'{{$button.ActionUrl}}','{{$button.ButtonName}}','{{$button.LayerTitle}}','{{$button.Expand.w}}','{{$button.Expand.h}}')"
                           {{end}}
                           {{if eq $button.ActionType 3}}
                           onclick="{{$button.ActionUrl}}"
                           {{end}}
                           class="layui-btn layui-btn-sm {{$button.Class}}"
                        >{{template "icon" $button.Icon}}
                            {{$button.ButtonName}}</a>
                        {{end}}
                        {{end}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div v-if="checkedTotal>0" class="batchActionButtons">
        {{range $index,$button := .rightBtns}}
        {{if eq $button.ActionType 1}}
        {{- if $button.BatchAction -}}
        <a {{if $button.ConfirmMsg }}
           @click="confirm(0,'{{$button.ActionUrl}}','{{$button.ConfirmMsg}}')"
           {{else}}
           @click="confirm(0,'{{$button.ActionUrl}}','确定要批量操作？')"
           {{end}}
           class="layui-btn layui-btn-xs {{$button.Class}}"
        >{{template "icon" $button.Icon}} {{$button.ButtonName}}</a>
        {{- end -}}
        {{- end -}}
        {{- end -}}
    </div>
    {{if eq .listPageHide false}}
    <div class="layui-row" style="display: flex">
        <div class="layui-col-lg6" style="padding-top: 20px;width: 50%">
            <div style="color: #777777;">共检索到<strong style="color: #f31515"> ${data_total} </strong>条数据</div>
        </div>
        <div class="layui-col-lg6" style="text-align: right;width: 50%">
            <div id="pages"></div>
        </div>
    </div>
    {{end}}
</div>
<script src="/static/qadmin/js/config.js?v=12.04"></script>
<script src="/static/qadmin/js/comm.js?v=12.04"></script>
<script>
    //分页逻辑
    var laypage = layui.laypage;
    var laydate = layui.laydate;
    var searchFormDefault = {
    {{range $fieldIndex,$field:=.listSearchFields}}"{{$field.Key}}":"{{if $field.Value}}{{$field.Value}}{{end}}", {{end}}
    }
    var listPageSize = {{.listPageSize}};
    var batchAction = {{.listBatchAction}};
    var vue = new Vue({
        el: '#app',
        delimiters: ['${', '}'],//修改模板语法
        data: {
            searchForm: {},
            data_list: [],
            data_total: 0,
            page: 1,
            page_size: listPageSize,
            batchAction:batchAction,//是否支持批量操作
        },
        created: function () {
            this.searchForm = searchFormDefault
            //直接查询数据
            this.search(1);
        },
        computed: {
            isAllChecked:function () {
                return this.checkedTotal == this.data_total && this.data_total>0;
            },
            checkedTotal:function () {
                let total = 0
                for (let i = 0;i <this.data_list.length;i++){
                    if(this.data_list[i]['_checked']) total++
                }
                return total
            },
            checkedIds:function () {
                let ids = []
                for (let i = 0;i <this.data_list.length;i++){
                    if(this.data_list[i]['_checked']){
                        ids.push(this.data_list[i].id)
                    }
                }
                return ids
            }
        },
        mounted: function (e) {
        },
        methods: {
            checkAll:function (check){
                for (let i = 0;i <this.data_list.length;i++){
                    this.data_list[i]['_checked'] = check
                }
            },
            search: function (is_laypage) {
                var that = this
                $.ajax({
                    url: "{{.listDataUrl}}",
                    data: {
                        "page": this.page,
                        "page_size": this.page_size,
                        "search": JSON.stringify(this.searchForm)
                    },
                    type: "POST",
                    dataType: "text",
                    success: function (r) {
                        var data = api_data(r)
                        if (!!data) {
                            layer.msg("列表已加载", {time: 1000, offset: 't', icon: 6});
                            for (let i = 0; i < data.data.length; i++) {
                                data.data[i]['_checked'] = false;
                            }
                            that.data_list = data.data;
                            that.data_total = data.total;
                            laypage.render({
                                elem: 'pages',
                                count: data.total,
                                curr: that.page,
                                limit: that.page_size,
                                jump: function (obj, first) {
                                    that.page = obj.curr
                                    that.page_size = obj.limit
                                    if (!first) {
                                        that.search(0)
                                    }
                                }
                            });
                            setTimeout(function () {
                                LaySwitch();
                            }, 50)
                        }

                    }
                });
            },
            //弹出层操作
            layer: function (id = 0, action = "", title, layerTitle, expand0, expand1) {
                var that = this;
                if (id != 0) {
                    if (action.indexOf("?") === -1) {
                        action = action + "?id=" + id
                    } else {
                        action = action + "&id=" + id
                    }
                }
                if (!layerTitle) {
                    layerTitle = title + "{{.pageName}}"
                }
                layer.open({
                    type: 2,
                    title: layerTitle,
                    maxmin: true,
                    content: action,
                    area: [expand0, expand1],
                    cancel: function (index, layero) {
                        that.search();
                    }
                });
            },
            ajax: function (id, action) { //角色状态
                const that = this
                let ids = []
                if(id==0){
                    ids = this.checkedIds;
                    if(ids.length===0){
                        alert("请选择需要批量操作的项目！")
                        return false
                    }
                }
                $.ajax({
                    url: action,
                    data: {
                        "id": id,
                        "ids": JSON.stringify(ids)
                    },
                    type: "POST",
                    dataType: "text",
                    success: function (r) {
                        const data = api_data(r)
                        if (!!data) {
                            layer.msg("操作成功！", {time: 1000, icon: 1, offset: 't'});
                            that.search();
                        }
                    }
                });
            },
            confirm: function (id, action, msg) {
                if (confirm(msg)) {
                    this.ajax(id, action)
                }
            },
            switchClick: function (index, field, value) {
                var id = this.data_list[index].id;
                var that = this;
                $.ajax({
                    url: "",//提交到列表
                    data: {
                        "formFields": '{"id":"' + id + '","' + field + '":"' + value + '"}',
                        "action": "fastUpdate",//快速修改标记
                    },
                    type: "POST",
                    dataType: "text",
                    success: function (data) {
                        var data = api_data(data)
                        if (data == "success") {
                            layer.msg("修改成功！", {time: 2000, icon: 1, offset: 't'});
                        } else {
                            layer.msg("修改失败！", {time: 2000, icon: 2, offset: 't'})
                        }
                        setTimeout(function () {
                            that.search();
                        }, 1200)
                    }
                });
            },
            inputChange: function (index, field) {
                var id = this.data_list[index].id;
                var that = this;
                var value = this.data_list[index][field];
                $.ajax({
                    url: "",//提交到列表
                    data: {
                        "formFields": '{"id":"' + id + '","' + field + '":"' + value + '"}',
                        "action": "fastUpdate",//快速修改标记
                    },
                    type: "POST",
                    dataType: "text",
                    success: function (data) {
                        var data = api_data(data)
                        if (data == "success") {
                            layer.msg("修改成功！", {time: 2000, icon: 1, offset: 't'});
                        } else {
                            layer.msg("修改失败！", {time: 2000, icon: 2, offset: 't'})
                        }
                        setTimeout(function () {
                            that.search();
                        }, 1200)
                    }
                });
            }
        }
    })

    setTimeout(function() {
        {{range $fieldIndex,$field:=.listSearchFields}}
        {{if eq $field.Type "datetime"}}
        laydate.render({
            elem: '#time_{{$field.Key}}',
            type: 'datetime',
            value: "{{$field.DefValue}}",
            done: function (value, date, endDate) {
                vue.searchForm.{{$field.Key}} = value;
            }
        });
        {{end}}
        {{end}}
    },50)

    function LaySwitch(){
        layui.use(['form'], function () {
            //加载layui的表单组件样式,延迟一下子，让vue处理完
            var form = layui.form;
            form.render();
            form.on('switch(switch)', function(data) {
                console.log(data.elem.checked);
                var index = data.elem.getAttribute('index');
                var field_name = data.elem.getAttribute('field_name');
                if(data.elem.checked){
                    vue.switchClick(index,field_name,1)
                }else{
                    vue.switchClick(index,field_name,0)
                }

            });
        })
    }
    function searchFormShow(){
        $(".list_search").toggle();
    }
</script>
</body>

</html>