html,body{
    height:100%;
    margin: 0px;
    padding: 0px;
    background-color:#443f69;
}
.body {
    height:100%;
    width:100%;
    background: #443f69 url(../img/bg.jpg) no-repeat center center;
    background-size:100% 100%;
}
.logo {
    width: 420px;
    height:80px;
    background: url(../../images/logo.png) no-repeat center center;
    background-size: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -310px;
    margin-left: -205px;
}
.login {
    box-shadow: 0px 0px 15px #96beac;
    width: 260px;
    background: #fff;
    padding: 50px 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -205px;
    border-radius: 10px;
}

@media (max-width: 750px) {
    .login {
        box-shadow: 0px 0px 15px #96beac;
        width: 260px;
        background: #fff;
        padding: 20px 30px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -210px;
        margin-left: -160px;
        border-radius: 10px;
    }
}


.login h2 {
    font-size: 28px;
    font-weight: 100;
    color: #333;
    text-align: center;
    margin-bottom: 30px
}

.login .back{
    float: right;
    color: #666;
}


.layui-form-item{
    position: relative;
}

.layui-form-item .input-icon{
    position: absolute;
    left: 5px;
    top: 10px;
    color: #999;
}
.layui-form-item .layui-input{
    padding-left: 24px;
}
.layui-form-item .verifyCode{
    position: absolute;
    right: 0px;
    top:0;
}

.login-btn{
    background-color: #00a0e9;
}