{{define "checkbox_level"}}
<div class="checkbox_level">
    {{range $k,$v := .Data}}
    <!--第1级-->
    <div class="checkbox_level_1">
        <label class="checkbox-label" >
            <input @change="formFieldsValueBind('{{$.Key}}',{{jsValue $v.value}},'{{json_encode $v._children true}}')" class="layui-form-checkbox" type="checkbox" name="{{$.Key}}" v-model="formFields.{{$.Key}}" :value="{{jsValue $v.value}}"/> {{$v.name}}
        </label>
        <!--第2级-->
        <div class="checkbox_level_2 {{if eq $v._lastLevel 1}}last_items{{end}}">
            {{range $k2,$v2 := $v._child}}
            <div class="{{if eq $v._lastLevel 1}}last_level{{else}}h-line{{end}}">
                <label class="checkbox-label" >
                    <input @change="formFieldsValueBind('{{$.Key}}',{{jsValue $v2.value}},'{{json_encode $v2._children true}}')" class="layui-form-checkbox" type="checkbox" name="{{$.Key}}" v-model="formFields.{{$.Key}}" :value="{{jsValue $v2.value}}"/> {{$v2.name}}
                </label>
                <!--第3级-->
                <div class="checkbox_level_3 {{if eq $v2._lastLevel 1}}last_items{{end}} ">
                    {{range $k3,$v3 := $v2._child}}
                    <div class="{{if eq $v2._lastLevel 1}}last_level{{else}}h-line{{end}}">
                        <label class="checkbox-label" >
                            <input @change="formFieldsValueBind('{{$.Key}}',{{jsValue $v3.value}},'{{json_encode $v3._children true}}')" class="layui-form-checkbox" type="checkbox" name="{{$.Key}}" v-model="formFields.{{$.Key}}" :value="{{jsValue $v3.value}}"/> {{$v3.name}}
                        </label>
                        <!--第4级-->
                        <div class="checkbox_level_4  {{if eq $v3._lastLevel 1}}last_items{{end}}">
                            {{range $k4,$v4 := $v3._child}}
                            <div class="{{if eq $v3._lastLevel 1}}last_level{{else}}h-line{{end}}">
                                <label class="checkbox-label" >
                                    <input class="layui-form-checkbox" type="checkbox" name="{{$.Key}}" v-model="formFields.{{$.Key}}" :value="{{jsValue $v4.value}}"/> {{$v4.name}}
                                </label>
                            </div>
                            {{end}}
                        </div>

                    </div>
                    {{end}}
                </div>
            </div>
            {{end}}
        </div>
    </div>
    {{end}}
</div>
{{end}}